<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ .Name }}</title>
</head>
<body>
    <p>Faaala Dev!</p>
    <p>Este é um convite para a reunião: <strong>{{ .Name }}</strong></p>
    <p>Uma mentoria gratuita na qual nos encontraremos semanalmente para que eu possa te auxiliar, seja você alguém que está entrando na área de tecnologia, migrando de carreira ou buscando crescimento profissional.</p>
    <p><strong>O que esperar?</strong></p>
    <p>Essas sessões são conduzidas de modo a proporcionar orientações práticas e insights valiosos, baseados em meus 15 anos de experiência na área de desenvolvimento e nas contribuições dos demais membros. Será uma ótima oportunidade para:</p>
    <ul>
        <li>Aprender mais sobre as tendências do mercado;</li>
        <li>Desenvolver habilidades essenciais para o avanço na sua carreira;</li>
        <li>Conectar-se com profissionais da área e expandir seu networking.</li>
    </ul>
    <p><strong>Detalhes da Mentoria:</strong></p>
    <ul>
        <li>Frequência: Todas as quartas-feiras;</li>
        <li>Horário: 19:00 (Horário de Brasília);</li>
        <li>Local: Online via Google Meet;</li>
        <li>Link para a reunião: {{ .Location }}</li>
        <li>Link para a agenda: {{ .CalendarEventLink }}</li>
    </ul>
    <p>Se você tiver alguma dúvida ou precisar de mais informações, fique à vontade para responder a este e-mail.</p>
    <p>Até lá!</p>
    <p>Atenciosamente,</p>
    <p>{{ .Organizer }}</p>
</body>
</html>
